/* root element for scrollable */
#filters {
    float: left;
    width: 200px;
    height: 650px;
}

.vertical {

    /* required settings */
    position:relative;
    overflow:hidden;

    /* vertical scrollers have typically larger height than width */
    height: 665px;
    /*width: 650px;*/
    border-top:2px solid #ddd;
}

#filter-column {

    margin-top: 15px;
}

.toolid {
    margin-right: 1%;
    float: right;
    font-weight: bold;
    font-size: 1.4em;
}

.filter-label {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: .2em;
}

.cb-text-filter {
    border: none !important;
    margin-bottom: 1em;
}

#listing-column {
    
}

/* root element for scrollable items */
#tool-listing {
    
    position:absolute;

    /* this time we have very large space for height */
    height:20000em;
    margin: 0px;
}

/* single scrollable item */
.tool-bubble {
    position: relative;
    background-color: #ccc;
    border-radius: 8px;
    margin:10px 0;
    padding:15px;
    font-size:12px;
}

.tool-list .votes {
    float: right;
    margin-left: 1%;
}

.tool-list .rateit {
    float: right;
}

.tool-bubble .rateit {
    float: right;
}

.tool-bubble .votes {
    float: right;
}

.tool-bubble .issue-area-icon {
    margin-top: -6px;
    float: left;
    width: 10%;
}

.tool-bubble .issue-area {
    float: left;
    display: none;
}

.tool-bubble .updated {
    text-align: right;
    margin-top: 1em;
}

.tool-bubble .mod-date {
    font-weight: bold;
}

.tool-bubble .audience {
    float: left;
    display: none;
}

.tool-bubble .tool {
    float: left;
    width: 60%;
    font-size: 1.2em
}

.modified {
    float: right;
}

.votecount {
    position: absolute;
    bottom: 5%;
    right: 2%;
    width: 15%;
}

.tool-bubble .description {
    clear: both;
    padding-top: 10px;
}

#filters label {
    display: inline-block;
}

/* elements inside single item */
.item img {
    float:left;
    margin-right:20px;

}

.item h3 {
    margin:0 0 5px 0;
    font-size:16px;
    color:#456;
    font-weight:normal;
}

/* the action buttons above the scrollable */
#actions {
    width:650px;
    margin:30px 0 10px 0;
}

#actions a {
    font-size:11px;
    cursor:pointer;
    color:#666;
}

#actions a:hover {
    text-decoration:underline;
    color:#000;
}

.disabled {
    visibility:hidden;
}

.next {
    float:right;
}

.tool-rating {
    float:right;
}

.more {
    float:right;
    margin-top: 1.0em;
    margin-right: 5%;
}
