#tool-navigation {
    border-bottom: 2px solid #ddd;
    height: 1.5em;
    margin-bottom: 1em;
    font-size: 120%;
    padding: 0 2%;
}

#tool-navigation .prev {
    float: left;
    width: 40%;
}

#tool-navigation .all {
    float: left;
}

#tool-navigation .next {
    float: right;
}

#tool-header {
}

#tool-header img {
    float: left;
    margin-right: 3%;
}

.tool-rating {
    float: right;
}


.wrapper {
    padding-bottom: 1em;
}


