#tool-navigation {
    border-bottom: 2px solid #ddd;
    height: 1.5em;
    margin-bottom: 1em;
    font-size: 120%;
    padding: 0 2%;
}

#tool-navigation .prev {
    float: left;
    width: 40%;
}

#tool-navigation .all {
    float: left;
}

#tool-navigation .next {
    float: right;
}

div#tool-header {
}

div#tool-header img {
    float: left;
    margin-right: 2%;
    margin-bottom: 1em;
}

div#tool-header .tool-rating {
    float: right;
    margin-right: 2%;
    font-weight: bold;
    text-align: right;
}

div#tool-header .rateit {
    bottom: -2px;
}

div.id-title {
    font-size: larger;
}

div.id-title h2.toolid {
    float: left;
    margin-right: .5em;
}

div.implementation-steps {
    margin-left: 1.0em;
}

div.tool-rating p {
    margin-bottom: .3em !important;
}

p.voting-instructions {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}

div.wrapper {
    clear: both;
    padding-bottom: 1em;
}


